html, body {
    font-size: 16px;
}

html {
    height: 100%;
}

body {

    font-family: var(--main-font);
    
    font-weight: 400;
    line-height: 150%;

    min-height: 100%;

    padding-right: var(--popup-padding);

    &._active {
        overflow: hidden;
    }

    &._popup-active {
        overflow: hidden;
    }
    
}

.offset-check-js {
    position: fixed;
    left: 0; top: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100%;

    filter: blur(0px);
    transition: filter .2s ease-in-out;

    &._blur {
        filter: blur(5px);
        @include _768 {
            filter: blur(15px);
        }
    }
    //padding-top: var(--header-height);
}

.main {
    overflow: hidden;

    flex: 1 0 auto;
}

._container {
    padding: 0 var(--container-padding);
    margin: 0 auto;
    max-width: #{$container}px;
    &._min {
        max-width: #{$containerMin}px;
    }
    &._large {
        max-width: #{$containerLarge}px;
    }
}

._section-padding {

    padding: 25px 0px;

}

._bg-img {
    position: absolute;
    left: 0; top: 0;
    
    width: 100%; height: 100%;

    user-select: none;
    object-fit: cover;

    z-index: -1;
}

._burger {
    position: relative;

    width: 46px; height: 46px;

    @include _768 {
        margin-left: 10px;
        &::before {
            content: '';
            position: absolute;
            left: -15px; top: 0;
            height: 100%; width: 2px;
            background: rgba(255,255,255,0.3);
            border-radius: 5px;
        }
    }

    background: var(--accent);
    border-radius: 50%;

    cursor: pointer;

    display: inline-block;
    @include _992 {
        display: none;
    }

    & span {
        position: absolute;
        left: 50%; top: 50%;

        width: 20px; height: 2px;
        background-color: var(--white);
        transition: all .2s ease-in-out;

        &:nth-child(1) {
            transform: translate(-50%, calc(-50% - 7px));
        }
        &:nth-child(2) {
            transform: translate(-50%, -50%);
            opacity: 1; visibility: visible;
        }
        &:nth-child(3) {
            transform: translate(-50%, calc(-50% + 7px));
        }
    }
    /* &._active span {
        &:nth-child(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-child(2) {
            opacity: 0; visibility: hidden;
            transform: translate(-50%, -50%);
        }
        &:nth-child(3) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

    } */
}

._btn {
    display: inline-block;
    
    padding: 10px;

    @include _768 {
        padding: 10px;
        font-size: 1.25rem;
    }
    
    @include _992 {
        padding: 20px 15px;
    }

    background: var(--accent);
    color: var(--white);

    &._light {
        background: var(--white);
        color: var(--accent);
    }

    &._disabled {
        background: var(--disabled);
        color: var(--white);
    }

    font-weight: 600;
    font-size: 1rem;
    line-height: 150%;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    &._max {
        width: 100%;
        max-width: 216px;
    }

    &._min {
        text-align: center;

        padding: 12px 5px;

        font-size: 1rem;
        font-weight: 500;
        line-height: 100%;
        
    }

    &._alt-min {
        font-size: 1.125rem;
        padding: 15px 5px;
    }

    &._super-min {
        font-size: 0.875rem;
        font-weight: 400;
        padding: 10px;
    }

    transition: background .2s ease-in-out, box-shadow .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;

    &._transparent {
        border: 1px solid var(--dark);
        color: var(--dark);
        background: transparent;

        &:hover {
            background: var(--accent);
            color: var(--white);
            border: 1px solid var(--accent);
        }

        &:active {
            background: var(--accent);
            box-shadow: none;
        }
    }

    &:hover {
        background: var(--accent);
        box-shadow: var(--accent-shadow);
        color: var(--white);

        &._disabled {
            background: var(--disabled);
            color: var(--white);
            box-shadow: none;
        }
    }

    &:active {
        background: var(--accent-dark);
        box-shadow: none;

        &._disabled {
            background: var(--disabled);
            box-shadow: none;
        }
    }
}

._round-arrow-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 60px; height: 60px;
    &._large {
        width: 44px; height: 44px;
        font-size: 0.75rem;
        @include _992 {
            font-size: 1rem;
            width: 75px; height: 75px;
        }
    }

    border-radius: 50%;
    border: 1px solid var(--accent);

    color: var(--accent);

    background: transparent;

    transition: color .2s ease-in-out, background .2s ease-in-out;
    
    &:hover {
        color: var(--white);
        background: var(--accent);
    }

    &:active {
        color: var(--white);
        background: var(--accent);
    }

    &-icon {
        display: inline-block;
    }

    &._prev &-icon {
        transform: scaleX(-1);
    }

}

._border {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        border: 3px solid var(--dark);
    }
}

.round-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    // .round-link__body

    &__body {
        border-radius: 50%;
        border: 3px solid var(--dark-2);

        width: 147px; height: 147px;
        @media(min-width: 1350px) {
            width: 236px; height: 236px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 

        background: var(--white);
    }

    // .round-link__logo

    &__logo {
        height: auto;
        object-fit: contain;

        max-width: 100%; height: 70px;
        padding: 0 10px;

        @media(min-width: 1350px) {
            height: auto; padding: 0;
        }
    }

    // .round-link__btn

    &__btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 37px; height: 37px;
        @media(min-width: 1350px) {
            width: 60px; height: 60px;
        }

        margin-top: -25px;
        
        border: 1px solid var(--accent);
        background: var(--white);
        border-radius: 50%;

        color: var(--accent);

        transition: color .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
        font-size: 1rem;
        @media(min-width: 1350px) {
            font-size: 1.125rem;
            margin-top: -35px;
        }
        // .round-link__btn--icon

        &--icon {
        }
    }

    &:hover &__btn {
        background: var(--accent);
        color: var(--white);
        box-shadow: 0px 8px 35px rgba(44, 35, 172, 0.4);
    }

    &:active &__btn {
        box-shadow: 0px 0 0 rgba(44, 35, 172, 0);
    }
}

._link {
    color: var(--accent);
    transition: color .2s ease-in-out;

    &:hover {
        color: var(--accent-light);
    }

    &:active {
        color: var(--accent-dark);
    }
}

.rating-picture {

    position: absolute;
    left: 0; top: 0;

    width: 100%;
    padding: 7px;
    @include _768 {
        padding: 20px 18px;

        &._min {
            padding: 8px;
        }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    &._end {
        justify-content: flex-end;
    }

    &__status {

        display: inline-block;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(6px);

        font-size: 0.875rem;
        @include _768 {
            font-size: 1.35rem;
            padding: 15px 20px;
        }
        line-height: 100%;
        color: var(--white);

        display: flex;
        align-items: center;

        padding: 10px 15px;

        border-radius: 150px;
        
        &--like-icon {

        }

        &--like-value {
            margin-left: 6px;
            text-shadow: 0 0 1px rgba(0,0,0,1);
        }
    }

    &__like-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(6px);

        font-size: 1rem;
        line-height: 100%;
        color: var(--white);

        transition: background .2s ease-in-out, color .2s ease-in-out;

        &._active {
            color: var(--accent);
            background: var(--white);
        }

        &._active &--icon {
            opacity: 0;
        }

        &._active &--icon-active {
            opacity: 1;
        }

        width: 37px; height: 37px;
        @include _768 {
            font-size: 1.5rem;
            width: 50px; height: 50px;
        }

        border-radius: 50%;

        &--icon {
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%,-50%);
            transition: opacity .2s ease-in-out;
        }

        &--icon-active {
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%,-50%);
            transition: opacity .2s ease-in-out;
            opacity: 0;
        }

    }

    &._min &__like-btn {
        
        @include _768 {
            font-size: 1rem;
            width: 37px; height: 37px;
        }
    }
}

.share-block {
    display: inline-flex;
    // .share-block__body

    &__body {
        @include _768 {
            background: var(--accent);

            border-radius: 150px;
            padding: 5px;

            flex-direction: row;
            
        }
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    // .share-block__main-link

    &__main-link {
        display: flex;
        align-items: center;

        background: var(--accent);

        border-radius: 150px;
        padding: 5px 30px 5px 5px;

        @include _768 {
            background: transparent;

            border-radius: 0;
            padding: 0;
        }

        & span {
            font-size: 1rem;
            line-height: 1px;
            color: var(--white);
            text-decoration: underline;

            /* border-bottom: 1px solid var(--white); */
        }

        // .share-block__main-link--icon

        &--icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            margin-right: 15px;

            width: 70px; height: 70px;
            flex: 0 0 70px;
            border-radius: 50%;
            background: var(--white);

            font-size: 1.875rem;
            
            color: var(--accent);
        }
    }

    // .share-block__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        margin: 10px 7px 0 14px;
        @include _768 {
            margin: 0 7px 0 14px;
        }
    }

    // .share-block__item

    &__item {
        margin: 5px;
    }

    // .share-block__link

    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 50px; height: 50px;

        border-radius: 50%;

        background: var(--white);
        box-shadow: 0px 8px 15px #C9C9C9;

        @include _768 {
            box-shadow: 0px 8px 15px #2117A5;
        }
    }
}

.gallery-card {

    // .gallery-card__body

    &__body {
        position: relative;
    }

    // .gallery-card__header

    &__header {
        z-index: 2;
    }

    // .gallery-card__picture

    &__picture {
        display: block;
        width: 100%; padding-top: 100%;
        position: relative;
    }

    // .gallery-card__img

    &__img {
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        object-fit: cover;
    }

    // .gallery-card__info

    &__info {
        color: var(--dark-3);
        padding-top: 14px;
        // .gallery-card__info--row

        &--row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            padding: 2px 0;
        }
    }

    // .gallery-card__name

    &__name {
        font-weight: 600;
        line-height: 162%;

        padding-right: 5px;
    }

    // .gallery-card__price

    &__price {
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 140%;
    }

    // .gallery-card__info-row

    &__info-row {
    }

    // .gallery-card__date

    &__date {
        font-size: 0.8125rem;
    }

    // .gallery-card__size

    &__size {
        font-size: 0.875rem;
        line-height: 157%;
    }

    // .gallery-card__btn

    &__btn {
        margin-top: 6px;
        width: 100%;
        // .gallery-card__btn--icon

        &--icon {
        }
    }
}

.payment-min {
    width: 100%;

    &._light &__item {
        background: var(--white);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        margin: -3px;
        padding-top: 9px;
    }

    &__item {
        flex: 0 1 71px;
        padding: 5px 0px;
        margin: 3px;

        border-radius: 5px;

        background: var(--light);

        text-align: center;

        &--img {
            max-width: 100%;
        }
    }
}

.related-paintings {
    padding-top: 40px;

    @include _768 {
        padding-top: 75px;
    }
    
    @include _992 {
        padding-top: 100px;
    }
    // .related-paintings__container

    &__container {
    }

    // .related-paintings__title

    &__title {
    }

    // .related-paintings__block

    &__block {
        margin-top: 18px;

        @include _768 {
            margin-top: 34px;
        }
        
        @include _992 {
            margin-top: 46px;
        }

        position: relative;
    }

    // .related-paintings__slider

    &__slider {
        padding-bottom: 40px;

        @include _768 {
            padding-bottom: 60px;
        }
        
        @include _992 {
            
            padding-bottom: 100px;
        }
        // .related-paintings__slider--list

        &--list {
        }

        // .related-paintings__slider--navigation

        &--navigation {
        }

        // .related-paintings__slider--arrow

        &--arrow {
            
            top: 37%;

            @include _768 {
                top: 35%;
            }

            @include _992 {
                top: 42%;
            }

            &._prev {
                left: 0;
                transform: translate(0%,-50%);
            }
            &._next {
                right: 0;
                transform: translate(0%,-50%);
            }

            @media(min-width: #{$container + 70}px) {
                top: 42%;
                &._prev {
                    left: 0;
                    transform: translate(-50%,-50%);
                }
                &._next {
                    right: 0;
                    transform: translate(50%,-50%);
                }
            }
        }
    }
}

._underline {
    text-decoration: underline;
}

._full-page {
    min-height: 100vh;
    
    display: flex;
    align-items: center;

}
