._slider-navigation {
    
    display: flex;
    justify-content: center;

    &-body {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        background: rgba(255, 255, 255, 0.3);
        border: 1px solid var(--light);
        backdrop-filter: blur(4px);
        border-radius: 150px;
    }
}

._slider-arrow {
    position: static;
    height: auto;
    margin: auto;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 37px; height: 37px;
    
    @include _992 {
        width: 30px; height: 30px;
    }

    &.swiper-button-disabled {
        opacity: 1;
    }

    &::after {
        font-size: 15px;
        font-weight: 700;
        @include _992 {
            font-size: 10px;
            font-weight: 400;
        }
        color: var(--accent);
    }
}

._slider-pagination {
    position: static;
    width: auto !important;

    display: flex;

    & .swiper-pagination-bullet {

        width: 10px; height: 10px;
        background: transparent;
        border: 1px solid transparent;
        margin: 0 4px !important;
        @include _992 {
            width: 8px; height: 8px;
            margin: 0 3px !important;
        }

        transition: border .2s ease-in-out;
        opacity: 1;

        position: relative;
        &.swiper-pagination-bullet-active {
            
            border: 1px solid var(--accent);
            &::before {
                background: var(--accent);
            }
        }
        &::before {
            content: '';
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%,-50%);
            width: 4px; height: 4px;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            transition: background .2s ease-in-out;

        }
        &::after {
            content: '';
            display: block;
            width: 13px; height: 13px;
            @include _992 {
                width: 10px; height: 10px;
            }
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%,-50%);
        }

    }
}

._slider-alt-pagination {
    position: relative;
    left: 0; top: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;

    & .swiper-pagination-bullet {

        width: 12px; height: 12px;
        flex: 0 0 12px;
        background: transparent;
        border: 1px solid transparent;

        transition: border .2s ease-in-out;
        opacity: 1;

        position: relative;

        &.swiper-pagination-bullet-active {
            
            border: 1px solid var(--accent);
            &::before {
                background: var(--accent);
            }

        }

        &::before {
            content: '';
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%,-50%);
            width: 7px; height: 7px;
            background: rgba(0, 0, 0, 0.7);
            border-radius: 50%;
            transition: background .2s ease-in-out;

        }
        &::after {
            content: '';
            display: block;
            width: 12px; height: 12px;
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%,-50%);
        }

    }
}

._slider-alt-arrow {
    position: relative;
    left: 0; top: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 44px; height: 44px;

    @include _992 {
        &._large {
            width: 70px; height: 70px;
            &::after {
                font-size: 1.25rem;
            }
        }
    }

    border: 1px solid var(--accent);
    background: var(--accent);

    transition: background .2s ease;

    &::after {
        font-size: 0.75rem;
        color: var(--white);
        font-weight: 700;
        transition: color .2s ease;
    }

    &.swiper-button-disabled {
        opacity: 1;
        background: transparent;
        &::after {
            color: var(--accent);
        }
    }
    
}

._slider-round-arrow-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 44px; height: 44px;
    @include _992 {
        width: 75px; height: 75px;
    }
    border-radius: 50%;

    border: 1px solid var(--accent);
    background: var(--accent);
    color: var(--white);

    transition: color .2s ease-in-out, background .2s ease-in-out;
    
    &.swiper-button-disabled {
        opacity: 1;
        color: var(--accent);
        background: var(--white);
        z-index: 10;
    }

    &::after {
        font-size: 12px;
        @include _992 {
            font-size: 20px;
        }
    }
}
