.favorites {

    // .favorites__header

    &__header {
    }

    // .favorites__content

    &__content {

        // .favorites__content--container

        &--container {
        }

        &--pagination {

            padding-top: 30px;

            @include _768 {
                padding-top: 40px;
            }
            
            @include _992 {
                padding-top: 50px;
            }
            
        }
    }
}

.painting-product {

    // .painting-product__list

    &._none &__list {
        height: 0 !important;
    }

    &__list {
        margin: 0 -10px;

        opacity: 0;
        transition: opacity .2s ease-in-out, height .2s ease-in-out;

        &._init {
            opacity: 1;
        }
    }

    // .painting-product__item

    &__item {
        width: calc(100% - 15px);

        @include _992 {
            width: calc(50% - 20px);
        }

        @media(min-width: 1336px) {
            width: calc(50% - 20px);
        }

        &._removing &--body {
            opacity: 0;
        }
        // .painting-product__item--body

        &--body {
            display: flex;
            flex-direction: column;
            padding: 12px 12px 17px 12px;
            
            border: 3px solid var(--dark-2);

            @include _768 {
                flex-direction: row;
                padding: 9px 9px 13px 9px;
            }

            @include _992 {
                flex-direction: column;
                padding: 9px 9px 13px 9px;
            }

            @media(min-width: 1336px) {
                flex-direction: row;
                padding: 9px 9px 13px 9px;
            }

            position: relative;
            transition: opacity .4s ease-in-out;
        }

        &--header {

            padding-bottom: 10px;

            @include _768 {
                padding-bottom: 0px;
            }

            @include _992 {
                padding-bottom: 10px;
            }

            display: flex;
            justify-content: flex-end;

            @media(min-width: 1336px) {
                padding-bottom: 0;
            }
        }

        // .painting-product__item--picture

        &--picture {
            flex: 0 1 77%;
            min-width: 175px;

            position: relative;
        }

        // .painting-product__item--picture-header

        &--picture-header {
            
        }

        &--remove-btn {

            @include _768 {
                position: absolute;
                right: 13px; top: 13px;
            }

            @include _992 {
                position: static;
            }
            
            @media(min-width: 1336px) {
                position: absolute;
                right: 13px; top: 13px;
            }

            width: 39px; height: 39px;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            transition: color .2s ease-in-out;
            color: var(--dark-2);

            &:hover {
                color: var(--accent);
            }
        }

        // .painting-product__item--img

        &--img {
            width: 100%;
            min-height: 100%;

            object-fit: cover;
        }

        // .painting-product__item--info

        &--info {
            
            padding-top: 9px;

            @include _768 {
                padding-left: 17px; padding-top: 0;
            }

            @include _992 {
                padding-top: 15px; padding-left: 0;
            }

            @media(min-width: 1336px) {
                padding-top: 0; padding-left: 17px;
            }

            display: flex;
            flex-direction: column;
            
        }

        // .painting-product__item--name

        &--name {
            @include _768 {
                padding-right: 60px;
            }

            @include _992 {
                padding-right: 0px;
            }

            @media(min-width: 1336px) {
                padding-right: 60px;
            }
        }

        // .painting-product__item--descr

        &--descr {
            margin-top: 6px;

            color: var(--gray-2);
            font-size: 0.75rem;
            line-height: 167%;

            flex: 1 1 auto;

            @include _768 {
                font-size: 0.875rem;
            }
            
            @include _992 {
                margin-top: 15px;
            }
            
        }

        // .painting-product__item--footer

        &--footer {

            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;

            margin: -10px; padding-top: 10px;
            @include _768 {
                padding-bottom: 10px; padding-top: 20px;
            }

            & > * {
                margin: 10px;
            }
        }

        // .painting-product__item--price

        &--price {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 100%;
            color: var(--dark-2);

            @include _768 {
                font-size: 1.875rem;
            }
            
        }

        // .painting-product__item--buy-btn

        &--buy-btn {
            padding: 13px 10px;
            min-width: 161px;
            font-weight: 600;
            font-size: 1rem;

            @include _768 {
                font-size: 1rem;
                padding: 13px 10px;
            }
            
            @include _992 {
                font-size: 1rem;
                padding: 13px 10px;
            }
            
        }
    }
}

