.auction-list {

    // .auction-list__header

    &__header {
    }

    // .auction-list__content

    &__content {

        padding: 40px 0 40px 0;

        @include _768 {
            padding: 70px 0 61px 0;
        }
        
        @include _992 {
            padding: 82px 0 90px 0;
        }
        
        // .auction-list__content--container

        &--container {
        }

        // .auction-list__content--header

        &--header {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
        }

        // .auction-list__content--list

        &--list {
            display: grid;
            grid-template-columns: 100%;
            gap: 15px 0;

            margin-top: 20px;

            @include _768 {
                gap: 27px;
                margin-top: 30px;
            }

            &._column-list {
                gap: 5px;
                @include _768 {
                    gap: 27px;
                }
                grid-template-columns: 1fr 1fr;
            }
        }

        &--list._column-list &--item {
            grid-template-columns: 100%;

            gap: 5px;

            @include _768 {
                gap: 23px;
            }
        }

        // .auction-list__content--item

        &--item {
            display: grid;
            grid-template-columns: 100%;
            gap: 15px;

            @include _768 {
                gap: 23px;
                grid-template-columns: 32.2% auto;
            }

            
        }

        // .auction-list__content--footer

        &--footer {
        }

        &--pagination {
            margin-top: 20px;

            @include _768 {
                margin-top: 30px;
            }
            
            @include _992 {
                margin-top: 62px;
            }
            
        }

        &--share-block {
            margin-top: 20px;
            
            @include _768 {
                margin-top: 30px;
            }
            
            @include _992 {
                margin-top: 40px;
            }
        }
    }

    &__content--list._column-list &__item {
        &--info {
            padding: 20px 10px 10px 10px;

            @include _768 {
                padding: 25px 16px 20px 16px;
            }

            @include _992 {
                padding: 25px 20px 30px 30px;
            }
        }

        &--info-footer {
            align-items: flex-start;
            flex-direction: column;

            padding-top: 25px;

            @include _768 {
                padding-top: 50px;
                flex-direction: row;
                align-items: flex-end;
            }
        }

        &--btn {
            width: 100%;
            min-width: 100%;
            margin-top: 15px;
            @include _768 {
                width: auto;
                margin-top: 0;
            }
        }

        &--col {
            width: 100%;
            @include _768 {
                width: auto;
            }
        }
    }

    // .auction-list__title

    &__title {
        flex: 1 1 100%;

        margin-bottom: 18px;

        @include _768 {
            margin-bottom: 33px;
        }

        @include _992 {
            margin-bottom: 40px;
        }
    }

    // .auction-list__result

    &__result {
        font-size: 0.875rem;
        @include _768 {
            font-size: 1rem;
        }
    }

    // .auction-list__type-list

    &__type-list {
        display: flex;

        margin: calc(-15px / 2);
        // .auction-list__type-list--btn

        &--btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            width: 50px; height: 50px;

            margin: calc(15px / 2);
            
            border-radius: 50%;

            background: var(--light);
            color: var(--dark-2);

            border: 1px solid var(--light);

            transition: border .2s ease-in-out;

            &._active {
                border: 1px solid var(--dark-2);
            }

            &:hover {
                color: var(--accent);
            }
        }

        // .auction-list__type-list--btn-icon

        &--btn-icon {
            font-size: 20px;
            transition: color .2s ease-in-out;
        }
    }

    // .auction-list__item

    &__item {

        // .auction-list__item--painting

        &--painting {
            display: block;
            position: relative;
            width: 100%; padding-top: 100%;
        }

        // .auction-list__item--img

        &--img {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            object-fit: cover;
        }

        // .auction-list__item--info

        &--info {
            padding: 15px 22px 16px 22px;

            @include _768 {
                padding: 5px 16px 16px 16px;
            }
            
            @include _992 {
                padding: 40px 50px 46px 60px;
            }

            display: flex;
            flex-direction: column;

            position: relative;

            color: var(--dark);
        }

        // .auction-list__item--bg

        &--bg {
            position: absolute;
            right: 0; top: 0;
            width: 100%; height: 100%;
            overflow: hidden;
            z-index: -1;
        }

        // .auction-list__item--bg-img

        &--bg-img {
            position: absolute;
            right: 0; bottom: 0;
            height: 100%; width: auto;

        }

        // .auction-list__item--info-header

        &--info-header {
            flex: 1 1 auto;
        }

        // .auction-list__item--title

        &--title {
            &._large {
                font-size: 0.9375rem;

                @include _768 {
                    font-size: 1.25rem;
                }
                
                @include _992 {
                    font-size: 3.4375rem;
                }
            }
            
            
        }

        // .auction-list__item--descr

        &--descr {
            margin-top: 5px;

            font-weight: 500;
            font-size: 0.75rem;
            line-height: 150%;
            color: var(--dark-3);

            @include _768 {
                font-size: 0.875rem;
            }
            
            @include _992 {
                font-size: 1.25rem;
            }
            
        }

        // .auction-list__item--info-footer

        &--info-footer {
            padding-top: 20px;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: row;
            align-items: flex-end;

            @include _768 {
                flex-direction: row;
                align-items: flex-end;

                padding-top: 30px;
            }
            
            @include _992 {
                padding-top: 50px;
            }
        }

        // .auction-list__item--col

        &--col {
            display: flex;
            flex-direction: column;
        }

        // .auction-list__item--subtitle

        &--subtitle {
            
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 156%;

            @include _768 {
                font-size: 1rem;
            }
            
            @include _992 {
                font-size: 1.125rem;
            }
            
        }

        // .auction-list__item--price

        &--price {
            color: var(--dark-2);
            font-weight: 600;
            font-size: 1rem;
            line-height: 100%;

            @include _768 {
                font-size: 1.5rem;
            }
            
            @include _992 {
                font-size: 3.4375rem;
            }
            
        }

        // .auction-list__item--timer

        &--timer {
            margin-top: 5px;

            color: var(--gray-light-2);
            font-size: 0.8125rem;

            @include _768 {
                font-size: 0.9375rem;
            }
            
            @include _992 {
                font-size: 1rem;
            }
            
        }

        // .auction-list__item--btn

        &--btn {

            min-width: 135px;
            font-size: 0.875rem;
            @include _768 {
                font-size: 1rem;
            }
            @include _992 {
                font-size: 1.25rem;
                min-width: 216px;
            }
            
        }
    }
}

