.thanks {
    position: relative;
    // .thanks__bg

    &__bg {
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        z-index: -1;
        overflow: hidden;
        // .thanks__bg--img

        &--img {
            width: 100%; height: auto;
            min-height: 100%;

            object-fit: cover;
        }
    }

    // .thanks__container

    &__container {
        padding-top: 50px; padding-bottom: 200px;
        width: 100%;

        filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));

        @include _768 {
            filter: none;
        }
        
    }

    // .thanks__title

    &__title {
    }

    // .thanks__message

    &__message {
        padding: 23px;

        font-weight: 400;
        font-size: 1.25rem;
        text-shadow: 0 0 20px rgba(0,0,0,0.8);
        @include _768 {
            font-size: 1.625rem;
            text-shadow: none;
        }
        line-height: 108%;
        color: var(--white);

        &::before {
            content: '•';
        }
    }
}

